h1,
h2,
h3,
h4,
h5,
h6,
p {
    margin: 0;
}

* {

    text-decoration: none;
    outline: var(--background-color2);
}

li {
    list-style: none;
    margin: 0;
    padding: 0;
}

ul {
    list-style: none;
    margin: 0;
    padding: 0;
}

button {
    font-family: 'Roboto';
    cursor: pointer;
}

.section {
    padding-top: 94px;
    padding-bottom: 94px;
}

.pic {
    display: block;
    min-width: 100%;
}