.advantage__picture {
    background: #F5F4FA;
    border-radius: 4px;
    margin-bottom: 30px;
    /* gap: 30px; */
    padding-top: 25px;
    padding-bottom: 25px;
    text-align: center;
}

.advantage__text {
        font-weight: 700;
        font-size: 14px;
        line-height: 1.1428;
        letter-spacing: 0.03em;
        text-transform: uppercase;
        color: var(--advantage-color);
        margin-bottom: 10px;
}

.advantage__list {
    display: flex;
    justify-content: space-between;
    gap: 30px;
}

.advantage__item {
    flex-basis: calc((100% - 90px) / 4);
}

.advantage__title {
        font-weight: 400;
        font-size: 14px;
        line-height: 1.7142;
        letter-spacing: 0.03em;
        color: var(--advantage-title-color);
}

/* ----------------- work ------------ */


.container-work {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.section.work {
    padding-top: 0;
}

.title {
        justify-content: center;
        font-weight: 700;
        font-size: 36px;
        line-height: 1.1666;
        text-align: center;
        letter-spacing: 0.03em;
        color: var(--work-color);
        margin-top: 0;
        margin-bottom: 50px;
}

.container.work {
    display: flex;
    justify-content: center;
    align-items: center;
}

.work__list {
    display: flex;
    justify-content: center;
    gap: 30px;
}

.work__foto {
    flex-basis: calc((100% - 60px) / 3);
    position: relative;
}

.work__text {
    position: absolute;
    width: 100%;
    height: 70px;
    top: calc(100% - 70px);
    font-weight: 700;
    font-size: 14px;
    line-height: 1.1428;
    text-align: center;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    background-color: rgba(47, 48, 58, 0.8);
    color: var(--logo-end-down);
    display: flex;
    align-items: center;
    justify-content: center;
}

